/Semana2/ambiente1/nbproject/private/
/Semana2/ambiente1/build/
/Semana2/JavaApplication104/nbproject/private/
/Semana2/ambiente_grafico2/nbproject/private/
/Semana2/ambiente_grafico2/build/
/Semana2/prueba_desktop/nbproject/private/
/Semana2/prueba_desktop/build/
/Semana2/pantallas_internas/nbproject/private/
/Semana2/pantallas_internas/build/