/Semana2/ambiente1/nbproject/private/
/Semana2/ambiente1/build/
/Semana2/JavaApplication104/nbproject/private/
/Semana2/ambiente_grafico2/nbproject/private/
/Semana2/ambiente_grafico2/build/
/Semana2/prueba_desktop/nbproject/private/
/Semana2/prueba_desktop/build/
/Semana2/pantallas_internas/nbproject/private/
/Semana2/pantallas_internas/build/
/Semana1/c_app1/nbproject/private/
/Semana1/c_app1/build/
/Semana1/c_app2/nbproject/private/
/Semana1/c_app2/build/
/practica/pract/nbproject/private/
/practica/pract/build/
/Semana3/ejemplo_bd_sqlite/nbproject/private/
/Semana3/ejemplo_bd_sqlite/build/
/Semana1/c_ciclos/nbproject/private/
/Semana1/c_ciclos/build/
/Semana2/c_clases/nbproject/private/
/Semana2/c_clases/build/
/practica/New Folder/JavaLibrary2/nbproject/private/
/practica/New Folder/JavaLibrary2/build/
/practica/New Folder/JavaLibrary2/dist/
/practica/New Folder/JavaApplication114/nbproject/private/
/practica/New Folder/milb/nbproject/private/
/practica/New Folder/milb/build/
/practica/New Folder/milb/dist/
/practica/New Folder/JavaApplication114/build/
/practica/New Folder/mi_libreria/nbproject/private/
/practica/New Folder/mi_libreria/build/
/practica/New Folder/mi_libreria/dist/
/practica/New Folder/JavaApplication117/nbproject/private/
/practica/New Folder/JavaApplication117/build/
/practica/New Folder/c_familia/nbproject/private/
/practica/New Folder/c_familia/build/
/practica/New Folder/JavaApplication119/nbproject/private/
/Semana3/c_grafica/nbproject/private/
/Semana3/c_grafica/build/
/Semana3/c_grafico2/nbproject/private/
/Semana3/c_grafico2/build/
/practica/JavaApplication122/nbproject/private/
/semana5/reportes_jasper/nbproject/private/
/semana5/reportes2/nbproject/private/
/semana5/resp_prueba/nbproject/private/
/semana5/resp_prueba/build/
/practica/mi_ejemplo_reporte/nbproject/private/
/practica/mi_ejemplo_reporte/build/
/practica/proyecto_reportes/nbproject/private/
/semana5/proyecto_reporte2/nbproject/private/
/semana5/proyecto_reporte2/build/
/semana5/respuesta_examen/nbproject/private/
/semana5/respuesta_examen/build/
/semana5/JavaApplication130/nbproject/private/
/semana5/JavaApplication130/build/
/semana6/archivo_texto1/nbproject/private/
/semana6/archivo_texto1/build/
/Semana3/c_grafico2/dist/
/videos/sqlite_conectar/nbproject/private/
/videos/sqlite_ejemplo/nbproject/private/
/videos/sqlite_ejemplo/build/
/videos/ejemplo_sqlite1/nbproject/private/
/videos/ejemplo_sqlite1/build/
/videos/app1/target/
/videos/NodeJsApplication/nbproject/private/
/videos/JavaApplication135/nbproject/private/
/videos/mi_clas/nbproject/private/
/videos/mi_clas/build/
/videos/mi_clas/dist/
/videos/JavaApplication135/build/
/videos/app_formulario_sql/nbproject/private/
/videos/app_formulario/nbproject/private/
/videos/app_formulario2/nbproject/private/
/Semana9/aa/nbproject/private/
/Semana9/aa/build/
/Semana9/clase_sql/nbproject/private/
/Semana9/clase_sql/build/
/Semana9/clase_sql/dist/
/Semana1/app1/nbproject/private/
/Semana1/app1/build/
/Semana2/app/nbproject/private/
/Semana2/app/build/
/Semana2/app2/nbproject/private/
/Semana2/app2/build/
/Semana2/app3/nbproject/private/
/Semana2/app3/build/
/Semana2/App4/nbproject/private/
/Semana2/App4/build/
/Semana3/App5/nbproject/private/
/Semana3/App5/build/
/Semana3/app6/nbproject/private/
/Semana3/app6/build/
